@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>Welcome to your Assignment 5 Blazor App.</p>

<h3>Navigation</h3>

<ul>
    <li><a href="/users/new">Create User</a></li>
    <li><a href="/posts">View All Posts</a></li>
    <li><a href="/posts/new">Create a New Post</a></li>
</ul>
